#!/bin/sh --

set -e
umask 0027
/usr/bin/lockf -t {{ delorean_lock_timeout }} "{{ delorean_lock_dir }}/{{ item.0 }}.lock" \
  /usr/bin/ssh \
    -c arcfour \
    -o BatchMode=yes \
    -o StrictHostKeyChecking=no \
    -i {{ delorean_private_keys_dir }}/{{ item.1.target }}.key \
  {{ item.0 }} \
    "(sudo -H \
    /usr/bin/env PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin \
    /usr/local/bin/innobackupex \
      --stream=tar ./ \
      --no-lock \
      --defaults-file=/var/groupon/service/{{ item.1.instance_name }}-mysql/my.cnf \
      --socket=/var/groupon/percona/{{ item.1.instance_name }}/mysql.sock \
    | /usr/local/bin/pigz -R -6 --processes 6)" 2> {{ delorean_logs_dir }}/{{ item.0 }}.log \
    1> {{ delorean_base_dir }}/pools/{{ item.1.pool }}/{{ item.1.target }}/{{ item.0 }}/{{ item.0 }}-mysql.tar.gz

#push the backup result to the monitoring system (aka monitord.colo:8000
/var/groupon/delorean/test/backupCheck.pl $? {{ item.0 }} {{ item.1.pool }} {{ item.1.target }}

# Signal success to the caller
/usr/bin/tail -1 {{ delorean_logs_dir }}/{{ item.0 }}.log | /usr/bin/grep -q 'completed OK\!$'
