[gds_dev_masters]
#test-db1.snc1

[gds_dev_slaves]
#test-db2.snc1

[gds_dev_mysql]
#test-db1.snc1
#test-db2.snc1

[gds_dev_postgres]
#test-db1.snc1
#test-db2.snc1

[gds_dev_dbs:children]
gds_dev_mysql
gds_dev_postgres

[gds_dev_all:children]
gds_dev_dbs

[gds_all:children]
gds_dev_all

[LocalTestHosts:children]
#my-local-sandbox

[LocalTestHosts:vars]
ansible_connection=local
#ansible_python_interpreter=/usr/local/bin/python
#ansible_python_interpreter=/usr/local/bin/python2.7
#ansible_ssh_user=different-username

[RollerHosts:children]
#test-db1.snc1
#test-db2.snc1

[RollerHosts:vars]
# If push comes to shove: sudo download_encap py_simplejson-3.1.0_p1_py2.7.tar.gz
ansible_python_interpreter=/usr/local/bin/python
