#!/bin/sh --
exec 2>&1
exec \
  /usr/bin/env -i \
  /usr/local/sbin/chpst -v\
    -e /var/service/opensmtpd/env \
    -m {{ 128 * 1024 * 1024 }} \
  /usr/local/sbin/smtpd -d \
    -f /var/service/opensmtpd/smtpd.conf
