standby_mode = 'on'
primary_conninfo = 'user=postgres host={{ item.value.master_vip }} port={{ item.value.ports.postgresql_raw }} sslmode=prefer sslcompression=1'
trigger_file = '/tmp/trigger-{{ item.value.ports.postgresql_raw }}'