#!/bin/sh --
QUERY="select (sum(idx_blks_hit) - sum(idx_blks_read)) / sum(idx_blks_hit) as index_hit_ratio from pg_statio_user_indexes;"
psql -U postgres -At -p {{ gds_instances[instance_name].ports.postgresql_raw }} {{ gds_instances[instance_name]['dbnames'][0] }} -c "$QUERY" | awk '{ printf("hit_ratio\tL\t%d\n",$1); }'