#!/bin/sh --
QUERY="select count(*) from pg_locks where granted='f';"
psql -U postgres -At -p {{ gds_instances[instance_name].ports.postgresql_raw }} {{ gds_instances[instance_name]['dbnames'][0] }} -c "$QUERY" | awk '{ printf("is_granted\tL\t%d\n",$1); }'
