#!/bin/sh --
QUERY="select case when ((select count(*) from pg_stat_replication) >0) then (select pg_xlog_location_diff(write_location, replay_location) as result from pg_catalog.pg_stat_replication where application_name = 'walreceiver' order by 1 desc limit 1) else 1500000000 end;"
psql -U postgres -At -p {{ gds_instances[instance_name].ports.postgresql_raw }} {{ gds_instances[instance_name]['dbnames'][0] }} -c "$QUERY" | awk '{ printf("delay_master\tL\t%d\n",$1); }'
