#!/bin/sh --
QUERY="select case when (pg_is_in_recovery()='t') then 50 else 500 end;"
psql -U postgres -At -p {{ gds_instances[instance_name].ports.postgresql_raw }} {{ gds_instances[instance_name]['dbnames'][0] }} -c "$QUERY" | awk '{ printf("is_slave\tL\t%d\n",$1); }'