#!/bin/sh --
QUERY="select count(*) from pg_stat_activity where waiting;"
psql -U postgres -At -p {{ gds_instances[instance_name].ports.postgresql_raw }} {{ gds_instances[instance_name]['dbnames'][0] }} -c "$QUERY" | awk '{ printf("waiting_transactions\tL\t%d\n",$1); }'