#!/bin/sh --
QUERY="select max(age(datfrozenxid)) from pg_database;"
psql -U postgres -At -p {{ gds_instances[instance_name].ports.postgresql_raw }} {{ gds_instances[instance_name]['dbnames'][0] }} -c "$QUERY" | awk '{ printf("wraparound\tL\t%d\n",$1); }'
