#!/bin/sh --
QUERY="select variable_value as threads_running from information_schema.global_status where variable_name='Threads_running'"
/usr/local/bin/mysql  -P {{ gds_instances[instance_name].ports.mysqld }} --socket=/var/groupon/percona/{{instance_name}}/mysql.sock -e "$QUERY" -s -N | awk '{ printf("Threads_running\tL\t%d\n",$1); }'
