[defaults]
deprecation_warnings=False
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
display_skipped_hosts=True
forks=30
gathering=smart
#fact_caching = jsonfile
#fact_caching_connection = .fact_cache/
#fact_caching_timeout = 86400
inventory=inventory
nocolor=0
nocows=1
log_path=ansible.log
roles_path=roles
filter_plugins=filter_plugins
callback_plugins=callback_plugins
library=library
vault_password_file=~/.vault
[ssh_connection]
control_path = ~/.ssh/.cp-ansible-%%r@%%h:%%p
pipelining = True
scp_if_ssh = True
ssh_args = -o ControlMaster=auto -o ControlPersist=900s -o ForwardAgent=no -o Compression=yes -o CompressionLevel=9 -o ServerAliveInterval=5 -o ServerAliveCountMax=12 -o StrictHostKeyChecking=no -o BatchMode=yes
