#!/usr/bin/env bash

# Check consul status
function test_consul ()
{
  curl -s http://localhost:8500/v1/health/node/{{ inventory_hostname }} 2>&1>/dev/null
  return $?
}

function consul_status
{
  test_consul
  _aux=$?
  if [ $_aux -eq 0  ]; then
    _output=$(curl -s http://localhost:8500/v1/health/node/{{ inventory_hostname }} | awk '{split($0,a,","); print a[6]}')
    _status=$(echo $_output | awk '{print $2 }' | grep alive)
  else
      if [ $_aux -eq 7  ]; then
        _status='offline'
      else
        _output=$(curl -s http://localhost:8500/v1/health/node/{{ inventory_hostname }} | awk '{split($0,a,","); print a[6]}')
        _status=""
      fi
  fi
  case $_status in
    "alive")  echo "result=0; OK - $_output"; _retcode=0 ;;
    "offline")  echo "result=2; CRIT - Consul not running"; _retcode=2 ;;
          *)  echo "result=2; CRIT - Node is dead $_output"; _retcode=2 ;;
  esac
  return $_retcode
}

ServiceDescription="consul_status"
Output=$(consul_status)
ExitCode=$?

echo "$ExitCode $ServiceDescription $Output"
exit 0