.row {
  width: 960px;
}

.colors li {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.colors span {
  display: block;
  padding: 80px 5px 0 5px;
  color: white;
  text-shadow: rgba(0,0,0,.5) 0 1px 2px;
  text-align: right;
}

.groupon-green { background-color: #89b555; }
.groupon-blue { background-color: #4bc1de; }
.groupon-black { background-color: #2D2926; }
.light-green { background-color: #c5dc6c; }
.alt-green { background-color: #82b548; }

.orange { background-color: #e35205; }
.red { background-color: #ba0c2f; }
.purple { background-color: #514689; }
.pink { background-color: #c5299b; }
.blue { background-color: #0076a8; }

.yellow { background-color: #f2a900; }
.cool-grey { background-color: #75787b; }
.khaki { background-color: #f1e6b2; }
.light-gray { background-color: #c4bfb6; }
.tan { background-color: #d5cb9f; }

.icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons li {
  display: inline-block;
  margin: 20px 20px 20px 0;
  font-size: 32px;
  width: 32px;
  text-align: center;
}

.sidenav nav ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.sidenav nav ul li a {
  display: block;
  padding: 10px;
  line-height: 1;
}

.example .sidenav {
  margin-bottom: 20px;
}

article {
  margin-bottom: 20px;
}

h5 {
  color: #e35205;
}

h5 small {
  font-weight: normal;
}

#tables table {
  width: 100%;
}

#main {
  padding-top: 20px;
}

header p {
  line-height: 50px;
  color: #666;
  font-size: 90%;
  font-style: italic;
  padding-right: 10px;
}

.category-icons li {
  clear: left;
  margin-bottom: 10px;
  line-height: 30px;
}

.category-icons li span {
  margin-right: 10px;
}

.tab-buttons,
.tab-button-menu {
  margin-top: 10px;
}
.spinner {
  margin-bottom: 15px;
}

.demo {
  background-color: #f5f5f5;
  margin-bottom: 10px !important;
}
.nested {
  padding-bottom: 10px;
}
.nested .row {
  margin-bottom: 0 !important;
}
.demo-group {
  margin-bottom: 20px;
}

.demo .column,
.demo .columns {
  background-color: #c5dc6c;
  line-height: 30px;
  border-right: 1px solid #999;
}
.demo .column:first-child,
.demo .columns:first-child {
  border-left: 1px solid #999;
}
.swapped .columns:first-child {
  border-left: 0;
}
.swapped .columns:last-child {
  border-left: 1px solid #999;
}
.demo .columns label {
  line-height: 30px;
}
.nested .row .columns {
  background-color: #f2a900;
}