{{ ansible_distribution_version }}
  01000111  01010010  01001111  01010101  01010000  01001111  01001110

  /$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$   /$$$$$$  /$$   /$$
 /$$__  $$| $$__  $$ /$$__  $$| $$  | $$| $$__  $$ /$$__  $$| $$$ | $$
| $$  \__/| $$  \ $$| $$  \ $$| $$  | $$| $$  \ $$| $$  \ $$| $$$$| $$
| $$ /$$$$| $$$$$$$/| $$  | $$| $$  | $$| $$$$$$$/| $$  | $$| $$ $$ $$
| $$|_  $$| $$__  $$| $$  | $$| $$  | $$| $$____/ | $$  | $$| $$  $$$$
| $$  \ $$| $$  \ $$| $$  | $$| $$  | $$| $$      | $$  | $$| $$\  $$$
|  $$$$$$/| $$  | $$|  $$$$$$/|  $$$$$$/| $$      |  $$$$$$/| $$ \  $$
 \______/ |__/  |__/ \______/  \______/ |__/       \______/ |__/  \__/

This device is the property of Groupon, Inc. and its affiliates and all
activities conducted through or on it may be monitored in accordance
with applicable Groupon policies. If you have not been authorized to
access Groupon's systems, any attempt to access, hack into and/or
disable this device will be investigated and prosecuted to the full
extent of all applicable laws.

{{ inventory_hostname }} managed via https://github.groupondev.com/gds/paver
