#!/bin/sh --
exec 2>&1
exec \
  /usr/bin/env -i \
  /usr/local/sbin/chpst -v\
    -e {{gmond_service_path}}/env \
        -u ganglia:ganglia  \
  /usr/local/sbin/gmond -d 1 \
    -c {{ gmond_service_path }}/gmond.conf
