#!/usr/bin/env bash

function lookup_port {
    conf="$1"
    cat "${conf}" | grep 'port =' | awk '{ print $3}'
}

function find_conns {

    files=$(ls /var/groupon/postgresql/data{{postgresql_port_major}}/*/data/postgresql.conf 2>/dev/null)
    for f in ${files}; do
    instance=$(dirname ${f} | sed 's/.*-//' | sed 's/.data*//')
    port=$(lookup_port ${f})
    echo "------------------------------------------------------------------------------------------------------------------"
    echo "${instance}   ${port}"
    psql -t -U postgres -p ${port} -c 'select usename,datname,query_start,state,query from pg_stat_activity where pid != pg_backend_pid()'
    echo "------------------------------------------------------------------------------------------------------------------"
    done
}

find_conns
