# Ansible managed
table <gds-{{ item.key }}-srcs> persist file "/etc/pf.conf.d/tables/{{ item.key }}-srcs.table"
table <gds-{{ item.key }}-vips> persist file "/etc/pf.conf.d/tables/{{ item.key }}-vips.table"
